<div class="container">
  <form action="/placeOrder" method="POST">
    <label for="flowerName">Flower: </label>
    <select id="flower" name="flower">
      <% flowers.forEach(function(i){ %>
      <option value="<%= i.flowerId %>"><%= i.flowerName %></option>
      <% }) %>
    </select>
    <!-- <label for="flowerQuantity">Flower Quantity: </label>
    <input type="number" id="flowerQuantity" name="flowerQuantity" /> -->
    <label for="basketname">Basket: </label>
    <select id="basket" name="basket">
      <% baskets.forEach(function(i){ %>
      <option value="<%= i.basketId %>"><%= i.basketName %></option>
      <% }) %>
    </select>
    <button type="submit" id="submit" name="submit">Place Order</button>
  </form>
</div>
