<div class="container">
  <form action="/customizeOrder" method="POST">
    <label for="flowerName">Flower: </label>
    <select id="flower" name="flower">
      <option value="a">a</option>
    </select>
    <label for="flowerQuantity">Flower Quantity: </label>
    <input type="number" id="flowerQuantity" name="flowerQuantity" />
    <label for="basketname">Basket: </label>
    <select id="basket" name="basket">
      <option value="a">a</option>
    </select>
    <button type="submit" id="submit" name="submit">Place Order</button>
  </form>
</div>
