<div class="container" style="margin-top: 10%;">
  <form action="/placeOrder" method="POST">
    <div class="form-group">
      <label for="flowerName" style="font-weight: bold;">Flower </label>
      <select class="form-control" id="flower" name="flowerName">
        <option selected>Select Flower</option>
        <% flowers.forEach(function(i){ %>
        <option value="<%= i.flowerName %>"><%= i.flowerName %></option>
        <% }) %>
      </select>
    </div>
    <!-- <label for="flowerQuantity">Flower Quantity: </label>
    <input type="number" id="flowerQuantity" name="flowerQuantity" /> -->
    <div class="form-group">
      <label for="basketname" style="font-weight: bold;">Basket </label>
      <select class="form-control" id="basket" name="basketName">
        <option selected>Select Basket</option>
        <% baskets.forEach(function(i){ %>
        <option value="<%= i.basketName %>"><%= i.basketName %></option>
        <% }) %>
      </select>
    </div>
    <button type="submit" id="submit" name="submit" class="btn btn-primary" style="background-color: black;">Place
      Order</button>
  </form>
</div>