<div class="header">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container">
            <div><a href="/" class="navbar-brand">Blossom</a></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="addSpace"></div>
                <div class="addSpace"></div>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Past Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create">Create new</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>
<div class="container mt-5">
    <div style="text-align: center;">
        <h3>Past Orders</h3>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Flower Name</th>
                <th>Order Date</th>
            </tr>
        </thead>
        <tbody>
            <% orders.forEach(function(i){ %>
            <tr>
                <td>
                    <%= i.orderId %>
                </td>
                <td>
                    <%= i.flowerName %>
                </td>
                <td>
                    <%= i.date %>
                </td>

            </tr>
            <% }) %>
        </tbody>
    </table>
</div>